@charset "utf-8";
/* CSS Document */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("../images/3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px; /* Increased padding */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Increased max-width */
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4); /* Transparent with low opacity */
}

.title-image {
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: cover;
    margin: 20px 0 0 0; /* Adjusted margin */
}

.profile-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0; /* Removed margin */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Added margin for spacing between the button and images */
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 10px;
    }
    .profile-image {
        width: 80px;
        height: 80px;
    }
    button {
        width: 100%;
    }
}